.content {
    > * {
        max-width: var(--content-width);
    }

    .full-width,
    div,
    iframe {
        width: 100%;
        max-width: 100%;
    }

    // Code block restriction.
    div.highlight {
        max-width: var(--content-width);
    }
}
