body {
	overscroll-behavior: none; // fixes menu off bottom of screen.
	height: auto;
	max-width: 100%;
	&.has-menu-active {
		// Stops backround moving when menu open.
		overflow: hidden;
		height: 100%;
	}
}

.container {
	margin: auto;
	width: 100%;
	max-width: 100%;
	@media (min-width: $desktop-width) {
		max-width: var(--container-width);
	}
}

.wrap {
	padding-left: 12px;
	padding-right: 12px;

	@media (min-width: 372px) {
		padding-left: var(--gutter);
		padding-right: var(--gutter);
	}

	@media (min-width: $desktop-width) {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.nowrap {
	white-space: nowrap;
}

// Reusable.
.ul-reset {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	li {
		margin-bottom: 0;
	}
}
