.header {
    width: 100%;
    background: var(--white);
    z-index: 20;

    position: relative;
    &.sticky {
        position: sticky;
        // remove sticky on smaller screens.
        @media (min-width: 515px) and (max-height: 615px) {
            position: relative;
        }
        top: 0;
        left: 0;
        right: 0;
    }
    &:after {
        content: "";
        position: absolute;
        top: 100%;
        width: 100%;
        height: 20px;
        z-index: 10;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
        @media (min-width: $min-desktop) {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
        }
    }

    > .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        height: 60px;
        @media (min-width: $min-desktop) {
            height: 80px;
        }
    }

    // Reset lists.
    ul {
        @extend .ul-reset;
    }

    .logo {
        object-position: 0 0;
        object-fit: contain;
        max-width: 100px;
        max-height: 40px;
        @media (min-width: $min-desktop) {
            max-width: 130px;
            max-height: 50px;
        }
    }

    .logo-link {
        display: inline-flex;
    }

    .site-title-link {
        text-decoration: none;
        color: var(--primary-400);
        text-transform: uppercase;
        font-family: var(--condensed-font-family);
        font-weight: 700;
        font-size: 20px;
        @media (min-width: $min-desktop) {
            flex-shrink: 0;
            font-size: 22px;
        }
        @media (min-width: $desktop-width) {
            font-size: 28px;
        }
    }
}

.main-menu {
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
    @media (min-width: 372px) {
        padding-left: var(--gutter);
        padding-right: var(--gutter);
    }
    @media (min-width: $min-desktop) {
        display: flex;
        align-items: center;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: clamp(50px, 5vw, 75px);
    }
    @media (max-width: $mobile-max) {
        position: fixed;
        left: -100%;
        top: 60px;
        bottom: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 120px;
        transition: top 0.5s ease-in-out;
        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }
        transform-style: preserve-3d;
        // activate the menu.
        &.is-active {
            left: 0;
        }
    }
    &__wrapper {
        margin-left: 0; // reset.
        padding-left: 0; // reset.
        @media (max-width: $mobile-max) {
            padding-top: 10px;
        }
        @media (min-width: $min-desktop) {
            display: flex;
        }
        // All Links.
        a {
            display: block;
            color: var(--menu-link-color);
            text-decoration: none;
            font-family: Nunito;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 1;
            letter-spacing: 0.8px;
            transition: color 0.5s ease;
            @media (prefers-reduced-motion: reduce) {
                transition: none;
            }
            &:hover {
                color: var(--menu-link-color-hover);
            }
        }

        // All Menu Items.
        .menu-item {
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
            &__description {
                color: var(--gray-700);
                display: block;
                font-weight: 400;
                font-size: 13px;
                line-height: 130%;
                margin-top: 10px;
                letter-spacing: 0;
            }
        }
    }
    &__cta-language-wrapper {
        @media (min-width: $min-desktop) {
            margin-left: auto;
            display: flex;
            align-items: center;
        }
    }
    &__search-language-wrapper {
        display: flex;
        @media (max-width: $mobile-max) {
            flex-direction: row-reverse;
            align-items: flex-start;
            gap: 40px;
        }
    }

    // CTA.
    .main-menu-cta {
        width: 100%;
        text-align: center;
        margin-bottom: 0;
        @media (max-width: $mobile-max) {
            font-size: 18px;
        }
        @media (min-width: $min-desktop) {
            width: max-content;
            margin-top: 0; // reset.
            margin-left: 30px;
        }
    }

    // Language Selector.
    .language-selector {
        @media (max-width: $mobile-max) {
            flex-shrink: 0;
            flex-grow: 1;
        }
        @media (min-width: $min-desktop) {
            margin-left: 30px;
        }
    }

    // Search.
    .main-menu-search {
        display: block;
        svg {
            transition: filter 0.5s ease;
            @media (prefers-reduced-motion: reduce) {
                transition: none;
            }
            &:hover {
                filter: invert(38%) sepia(7%) saturate(283%) hue-rotate(169deg) brightness(99%) contrast(94%);
            }
            @media (min-width: $min-desktop) {
                margin-left: 30px;
            }
            @media (max-width: $mobile-max) {
                margin-top: 30px;
            }
        }
    }

    // Top row only.
    .top-menu-item {
        @media (min-width: $min-desktop) {
            margin-right: 20px;
        }
        @media (min-width: $desktop-width) {
            margin-right: 60px;
        }
        > a {
            padding-top: 25px;
            padding-bottom: 25px;
            border-bottom: 1px solid var(--gray-300);
            padding-right: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-transform: uppercase;
            &.is-open {
                border-width: 4px;
            }
            @media (min-width: $min-desktop) {
                border-bottom: 0;
            }
        }
    }

    .menu-item-has-children {
        position: relative;
        &.is-open {
            transition: all 0.1s ease-out;
            @media (prefers-reduced-motion: reduce) {
                transition: none;
            }

            a::after {
                // opening menu / rotating arrows.
                transition: transform 0.1s ease-in;
                transform: rotate(180deg) translateY(-50%);
                @media (prefers-reduced-motion: reduce) {
                    transition: none;
                }
                @media (min-width: $min-desktop) {
                    margin-top: 3px;
                }
            }
        }
        > a {
            @media (min-width: $min-desktop) {
                cursor: default;
            }
            &::after {
                display: inline-block;
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.21 1.078l3.395 3 3.395-3' stroke='%23b1b1b1' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
                background-size: 9px;
                height: 6px;
                width: 10px;
                background-repeat: no-repeat;
                transform: rotate(0deg);
                transform-origin: 50% 0%;
                // closing menu.
                transition: all 0.2s ease-out;
                @media (prefers-reduced-motion: reduce) {
                    transition: none;
                }
                @media (min-width: $min-desktop) {
                    margin-left: 10px;
                }
            }
        }
        // activate pop-out menu, with is-open class or with focus.
        &.is-open .sub-menu,
        &:focus > .sub-menu,
        &:focus-within > .sub-menu {
            opacity: 1;
            visibility: visible;
            overflow: visible;
            height: unset;
        }
    }

    .sub-menu {
        // use JS to show.
        display: none;
        padding-top: 25px;
        padding-bottom: 25px;
        @media (min-width: $min-desktop) {
            padding-top: 15px;
            padding-bottom: 0;
            display: block;
            // position.
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            z-index: 20;
            // visiblity.
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
            height: 0;
            // style.
            min-width: 330px;
        }
        &__nav {
            margin-left: 0; // reset.
            padding-left: 0; // reset.
            @media (min-width: $min-desktop) {
                background-color: var(--white);
                border-radius: 12px;
                border: 1px solid var(--gray-200);
                box-shadow:
                    0px 4px 6px -2px rgba(16, 24, 40, 0.03),
                    0px 12px 16px -4px rgba(16, 24, 40, 0.08);
                padding: 20px;
            }
        }
    }
}
