<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
    {{- partial "head.html" . -}}
    <body class="{{ urlize .Type }}">
        {{- partial "accessibility.html" . -}}
        {{- partial "header.html" . -}}
        
        <section id="content" class="container wrap">
            <header>
                <h1>{{ .Title }}</h1>
            </header>
            {{ if or (eq .Kind "section") (eq .Kind "home") }}
            <div class="content">
            {{ else }}
            <article class="content">
            {{ end }}
            {{- block "main" . }}{{ .Content }}{{- end }}
            {{ if or (eq .Kind "section") (eq .Kind "home") }}
            </div>
            {{ else }}
            </article>
            {{ end }}
        </section>
        {{- partial "footer.html" . -}}
    </body>
</html>
