<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="{{ urlize .Type }}">
        {{- partial "accessibility.html" . -}}
        {{- partial "header.html" . -}}
        
        <section id="content" class="container wrap">
            <header>
                <h1>{{ .Title }}</h1>
            </header>
            <article class="content">
            {{- block "main" . }}{{ .Content }}{{- end }}
            </article>
        </section>
        {{- partial "footer.html" . -}}
    </body>
</html>
