{{ $siteTitle := .Site.Title }}
{{ $socialLinks := .Site.Params.social_links }}
{{ with $socialLinks }}
    {{ $validLinks := slice }}
    {{ range $key, $value := . }}
        {{ if $value }}
            {{ $validLinks = $validLinks | append (dict "key" $key "value" $value) }}
        {{ end }}
    {{ end }}

    {{ if gt (len $validLinks) 0 }}
    <ul class="social-links">
        {{ range $validLinks }}
        <li>
            <a href="{{ .value }}" title="{{ i18n "social_link_title" (dict "SiteTitle" $siteTitle "Network" (humanize .key)) | default (printf "%s on %s" $siteTitle (humanize .key)) }}">
                <img loading="lazy" width="31" height="31" src="{{ printf "/img/social-icons/%s.svg" .key }}" alt="{{ (humanize .key) | safeHTMLAttr }} icon">
            </a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
{{ end }}
