#map {
	height: 500px;

	div.gm-style-iw {
		max-width: fit-content !important;
	}

	a {
		color: black;
		font-weight: 800;
		font-size: 14px;
	}

	p.date {
		font-weight: 600;
		font-size: 14px;
	}

	.gm-style-iw-c {
		border-radius: 5px;
	}

	.gm-ui-hover-effect {
		height: 24px !important;
		width: 27px !important;
	}

	.gm-ui-hover-effect > span {
		width: 12px !important;
		height: 12px !important;
		margin: 8px !important;
	}
}
