
<div id="map"></div>

<div class="cards columns-3">
{{- $people := .Site.Data.people -}}
{{- range $person := $people -}}
    <div class="card">
        <img src="{{ $person.image }}" alt="{{ $person.name }}">
        <h2>{{ $person.name }}</h2>
        <p>{{ $person.title }}</p>
        <p>{{ $person.twitter }}</p>
        <p>{{ $person.linkedin }}</p>
        <p>{{ $person.github }}</p>
        <p>{{ $person.company }}</p>
        <p>{{ $person.location }}</p>
        <p>{{ $person.bio }}</p>
    </div>
{{- end -}}
</div>

<script>
    let people = '{{ .Site.Data.people | jsonify }}';
</script>

<script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
    ({key: "{{ .Site.Params.google_maps_api_key }}", v: "beta"});</script>
<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    
{{ $js := resources.Get "js/people-map.js" }}
<script defer src="{{ $js.Permalink }}"></script>